---
layout: layout.html
title: "Hi, I'm Dennis"
---

<h1>
  <span class="small break-after">Hello, I'm</span> Dennis Treder
</h1>


<div class="profile-image">
  <img src="/images/dennis_treder.jpg" alt="Dennis Treder">
</div>

<div class="intro">

  <p>
    Nice to meet you. This is my web business card, so here it comes:
  </p>

  <ul class="featured">
    <li>Creative Director at <a href="https://www.neopoly.de">Neopoly</a></li>
    <li>Game developer, Illustrator, Workarounder</li>
    <li>Feel free to <a href="mailto:hi@dennistreder.de">say 'Hi' <%- icon("envelope-o") %></a></li>
  </ul>
</div>



<div class="about">

  <h2>About</h2>
  <p>
    I specify and develop medium to large scale web applications with a focus on good usability. I am specialized in frontend development for dynamic applications and games, spanning HTML, Unity 3D and Flash.
  </p>
  <p>
    Since 2006 I work at a Web-and-Mobile Development company in Bochum, Germany. Additionally I co-founded a Software Company with two talented friends in 2012 to combine our assets. We started out doing contract work and now concentrate on our own projects.
  </p>
  <p>
    Occasionally I do illustration contract work, consulting and develop indie games.
  </p>

  <h2>In my free time</h2>
  <p>
    To balance out the desk work I enjoy activities like climbing, hiking, cross-training and inline-skating. I love reading - for myself and to my two kids - and drawing.
  </p>

</div>




<div class="footer">
  <ul>
    <li><a href="/imprint">Imprint</a></li>
    <li><a href="https://twitter.com/headjump"><%- icon("twitter") %> Twitter</a></li>
    <li><a href="https://headjump.itch.io"><%- icon("gamepad") %> itch.io</a></li>
    <li><a href="https://github.com/headjump"><%- icon("github") %> GitHub</a></li>
  </ul>
</div>